.news-item {
  position: relative;
  border: 1px solid #ddd;
  margin: 10px;
  cursor: pointer;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  background: #ff6f6173;
  gap: 10px;
}

.news-item:hover {
  transform: rotate(3deg);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.news-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.news-item h3 {
  font-size: 15px;
}

.news-item p {
  display: flex;
  justify-content: end;
}

.news-item.no-hover:hover {
  transform: none;
  box-shadow: none;
}

.news-item.no-hover img {
  transform: none;
}

.news-item.first-item {
  grid-row: 1 / 4;
  grid-column: 1;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.news-item.second-column {
  grid-column: 2;
  align-items: center;
}

.news-item.second-column img {
  width: 200px;
}

.news-item.first-item img {
  height: auto;
}

.news-item.first-item h3 {
  padding: 0 10px;
}
