.news-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: white;
  padding: 20px;
  max-width: 500px;
  text-align: left;
  position: relative;
  border-radius: 20px;
}

.popup-content a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.popup-content a:hover {
  color: blue;
}

.popup-content h2 {
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
}

.popup-content p {
  font-size: 18px;
  font-weight: 400;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: 15px;
  font-weight: 600;
}
